# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\hanyanze\Desktop\人工智能实验箱-项目\综合测试项目\02支持向量机识别搬运\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
